* {
  font-family: Nunito, sans-serif;
}

.main {
  background-color: #C2E8F6;
}

.blok {
  line-height: 25px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

}

.responsive-card {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  justify-content: flex-start;
}

.inner-container {
  max-width: 1320px;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
}

.head {
  font-size: 50px;
  line-height: 60px;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px;
  position: relative;
  color: #6063ad;

}

.subhead {
  color: #8083d7;
  font-size: 20px;
  line-height: 27px;
  max-width: 670px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 80px;
  margin-left: 0px;
}

.card {
  width: 340px;
  height: 625px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-left: 25px;
  box-shadow: rgba(134, 134, 134, 0.16) 0px 6px 24px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: #89C4E1;
  margin-bottom: 50px;
  border-radius: 20px;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.2);
}

.name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 28px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  line-height: 27px;
  color: #6063ad;
  text-decoration: none;

}

.name:hover {
  color: #9094e6;
  text-decoration: none;
}

.year {
  line-height: 26px;
  color: #7f85ff;
  font-weight: 700;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
}

.info {
  color: #6063bc;
  font-size: 13px;
  line-height: 17px;
}

.outer-container {
  background-color: #C2E8F6;
  padding-top: 0px;
  padding-right: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
}
.projects{
  font-size: 20px;
  text-decoration: none;
  text-align: center;
  color: rgb(43, 44, 93);
  font-weight: bold;
}

a{
  margin-top: 3px;
  text-decoration: none;
  text-align: center;
  color:#424477 ;
  font-weight: bold;
}
a:hover{
  color: rgb(43, 44, 93);
}
.container-block {
  min-height: 75px;
  height: fit-content;
  width: 100%;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  display: block;
  background-color: #C2E8F6
}

.swiper.team-swiper {
  max-width: 100%;
  width: 100%;
  height: fit-content;
  background-color: #C2E8F6
}

.image {
  clip-path: circle(45% at 50% 50%);

}


.slide {
  display: flex;
  justify-content: flex-start;
  height: 200px;
  display: inline-block;
  margin: 20px;
  background-color: #C2E8F6
}


.wrapper {
  position: relative;
  top: 0px;
  display: inline-block;
  background-color: #C2E8F6
}

@media (max-width: 1024px) {
  .slide {
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .outer-container {
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
  }
}

.movie-item {
  color: #6063ad;
  font-size: 15px;
  /* margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 30px;
  margin-left: 0px; */
}

.movie-item:hover {
  color: #2a2b50;
  font-size: 20px;
}
